body{
    background-color: rgb(25,25,25);
    color: white;
    font-family: Arial;
    font-weight: bold;
}
.tital{
font-size: 30px;
font-weight: bold;

}
.move-icons{
    height: 80px;
    
}
.move-button{
    
    background-color: transparent;
    border: 3px solid white;
    height: 130px;
    width: 130px;
    border-radius: 100px;
    margin-left: 20px;
    cursor: pointer;
}
.result{
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}
.score{
    margin-top: 50px;
    font-family: Arial;
}
.score-reset-button,.Auto-Play{
     border: none;
     font-size: 15px;
     padding: 10px 15px;
     font-weight: bold;
     margin-top: 30px;
     cursor: pointer;
}
